<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/productos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Los Rikolinos - Productos</title>

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles481.css">
    <link rel="stylesheet" href="/css/styles769.css">



</head>
<body>

    <!-- Inicio del Header -->

    <header>
        <div class="top-header">
            <!-- imagen logo burger-menu -->
            <div class="container-burger-cart">
                <div class="burger-menu">
                    <a><i class="fas fa-bars"></i></a>
                </div>

                <div class="cuenta-registro">
                    <a href="/login"><i class="far fa-user-circle"></i></a>
                </div>

                <div class="cart">
                    <a href="/shopping-cart"><i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>

            <div class="contenedor-buscador-navbar">

                <div class="titulos-home">
                    <a href="/">Home</a>
                    <a href="/menu">Menu</a>
                    <a href="/productos">Productos</a>
                    <a href="/#Nosotros">Nosotros</a>
                    <a href="#footer">Contacto</a>
                </div>
            
                <div class="buscador">
                    <form action="#" method="post">
                        <input type="text" placeholder="Buscar productos">
                        <button>
                            <i class="fas fa-search"></i>
                        </button>

                    </form>
                </div>
            
            </div>

            <!-- imagen logo  -->
            <div class="logo">
                <a href="/"><img src="/img/Logo-Rikolinos.png" alt=""></a>
            </div>



            <div class="container-user-carrito">
                <!--User-->
                <div class="user">
                    <i class="fas fa-user"></i>
                </div>

                

                <!-- carrito-->
                <div class="container-carrito-precio">
                    <div class="container-carrito">
                        <img src="/img/carrito-de-compras.png" alt="">
                    </div>
                    <div class="container-precio">
                        <p>$1000000<p>
                    </div>
                </div>
            </div>

            

        </div>
    </header>

    <!-- Fin del Header -->

    <!-- Inicio del Main -->

    <main>
        <div class="container-title-form">
            <h2>
                Empanadas
            </h2>

            <form action="" method="">
                <!-- <label for=""></label> -->
                <select name="precios" id="">
                    <option value="verprecio">Precios de</option>
                    <option value="menorAmayor">-Menor a Mayor</option>
                    <option value="mayorAmenor">-Mayor a Menor</option>
                </select>
            </form>
        </div>

        <section class="container-articles">

            <article class="container-productos">
                <a href="">
                    <h4>Jamón y Queso</h4>
                </a>
                <div class="container-img-barrita">
                    <div class="container-img">
                        <a href="/productDetail">
                            <img src="/img/empanada-jamon-y-queso.jpg" alt="Empanadas jamon y queso">
                        </a>
                        <h2>$199,00</h2>
                    </div>
                    <div class="container-barrita">
                        <button>-</button>
                        <p>1</p>
                        <button>+</button>
                        <button>Añadir al carrito</button>
                    </div>
                </div>
            </article>

            <article class="container-productos">
                <a href="">
                    <h4>Pollo</h4>
                </a>
                <div class="container-img-barrita">
                    <div class="container-img">
                        <a href="">
                            <img src="/img/empanadas.jpeg" alt="Empanadas fritas">
                        </a>
                        <h2>$90,00</h2>
                    </div>
                    <div class="container-barrita">
                        <button>-</button>
                        <p>1</p>
                        <button>+</button>
                        <button>Añadir al carrito</button>
                    </div>
                </div>
            </article>

            <article class="container-productos">
                <a href="">
                    <h4>Carne</h4>
                </a>
                <div class="container-img-barrita">
                    <div class="container-img">
                        <a href="">
                            <img src="/img/Empanada-de-Carne.jpg" alt="Empanadas de carne">
                        </a>
                        <h2>$120,00</h2>
                    </div>
                    <div class="container-barrita">
                        <button>-</button>
                        <p>1</p>
                        <button>+</button>
                        <button>Añadir al carrito</button>
                    </div>
                </div>
            </article>

            <article class="container-productos">
                <a href="">
                    <h4>Al Horno</h4>
                </a>
                <div class="container-img-barrita">
                    <div class="container-img">
                        <a href="">
                            <img src="/img/empanadas2.jpeg" alt="Empanadas al horno">
                        </a>
                        <h2>$150,00</h2>
                    </div>
                    <div class="container-barrita">
                        <button>-</button>
                        <p>1</p>
                        <button>+</button>
                        <button>Añadir al carrito</button>
                    </div>
                </div>
            </article>

            <article class="container-productos">
                <a href="">
                    <h4>Arabes</h4>
                </a>
                <div class="container-img-barrita">
                    <div class="container-img">
                        <a href="">
                            <img src="/img/empanadas-arabes.jpg" alt="Empanadas Arabaes">
                        </a>
                        <h2>$155,00</h2>
                    </div>
                    <div class="container-barrita">
                        <button>-</button>
                        <p>1</p>
                        <button>+</button>
                        <button>Añadir al carrito</button>
                    </div>
                </div>
            </article>

            <article class="container-productos">
                <a href="">
                    <h4>Humita</h4>
                </a>
                <div class="container-img-barrita">
                    <div class="container-img">
                        <a href="">
                            <img src="/img/empanadas-humita.jpg" alt="Empanadas humita">
                        </a>
                        <h2>$100,00</h2>
                    </div>
                    <div class="container-barrita">
                        <button>-</button>
                        <p>1</p>
                        <button>+</button>
                        <button>Añadir al carrito</button>
                    </div>
                </div>
            </article>

            

        </section>
    </main>

    <!-- Fin del Main -->

    <!-- Inicio del Footer -->

    <footer id="footer">
        <br>

        <div class="container-footer">

            <div class="logo-footer">
                <img src="/img/Logo-Rikolinos.png" alt="">
            </div>

            <p>
                Los Rikolinos tambien en las redes
            </p>

            <ul>
                <li><a href=""><i class="fab fa-facebook"></i></a></li>
                <li><a href=""><i class="fab fa-instagram"></i></a></li>
                <li><a href=""><i class="fab fa-whatsapp"></i></a></li>
                <li><a href=""><i class="fab fa-twitter"></i></a></li>
            </ul>
            <p>Todos los derecho resevado. Los Rikolinos <i class="far fa-copyright"></i></p>
        </div>
    </footer>

    <!-- Fin del Footer -->

</body>
</html>