<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles-menu.css">
    
    <title>Los Rikolino - Menu</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    
    <!-- Inicio del Header -->

    <%- include ('./partials/header')  %> 
    <!-- fin del Header -->

    <!-- Inicio del Main -->

    <main>
        <h2>Menu</h2>
        <section class = "main-section">
                <article class = "article">
                    <div class="padre-articulos">

                        <h3 class = "categorias">Hamburguesas</h3>
                        <div class="contenedor-img">
                            <img src="/img/hamburguesa1.jpg" alt="">
                        </div>

                    </div>
                </article>
            
                <article class = "article">
                    <div class="padre-articulos">

                        <h3 class = "categorias">Pizza</h3>
                        <div class="contenedor-img">
                            <img src="/img/pizza.jpeg" alt="">
                        </div>

                    
                    </div>
                </article>
                
                <article class = "article">
                    <div class="padre-articulos">

                        <h3 class = "categorias">Ravioles</h3>
                        <div class="contenedor-img">
                            <img src="/img/ravioles.jpeg" alt="">
                        </div>
                    
                    </div>
                </article>
            
                <article class = "article">
                    <div class="padre-articulos">
                    
                        <h3 class = "categorias">Empanadas</h3>
                        <div class="contenedor-img">
                            <a href="/productos">
                                <img src="/img/empanadas.jpeg" alt="Empanadas">
                            </a>
                        </div>
                    
                    </div>
                </article>
            
    
                <article class = "article">
                    <div class="padre-articulos">
                    
                        <h3 class = "categorias">Asado</h3>
                        <div class="contenedor-img">
                            <img src="/img/carneasada.jpeg" alt="">
                        </div>
                    
                    </div>
                </article>
                
                <article class = "article">
                    <div class="padre-articulos">
                    
                        <h3 class = "categorias">Bebidas</h3>
                        <div class="contenedor-img">
                            <img src="/img/coctel.jpg" alt="">
                        </div>
                    
                    </div>
                </article>
            </section>  
    </main>

    <!-- Fin del Main -->

    <!-- Inicio del Footer -->

    <%- include('./partials/footer')  %> 

    <!-- Fin del Footer -->

</body>
</html>