<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Los Rikolinos - Detalle del producto</title>
    
    <link rel="stylesheet" href="/css/productDetail.css">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles481.css">
    <link rel="stylesheet" href="/css/styles769.css">

    
</head>
<body>

    <!-- Inicio del Header -->

    <header>
        <div class="top-header">
            <!-- imagen logo burger-menu -->
            <div class="container-burger-cart">
                <div class="burger-menu">
                    <a><i class="fas fa-bars"></i></a>
                </div>

                <div class="cuenta-registro">
                    <a href="/login"><i class="far fa-user-circle"></i></a>
                </div>

                <div class="cart">
                    <a href="/shopping-cart"><i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>



            <div class="contenedor-buscador-navbar">

                <div class="titulos-home">
                    <a href="/">Home</a>
                    <a href="">Menu</a>
                    <a href="/productos">Productos</a>
                    <a href="#Nosotros">Nosotros</a>
                    <a href="#footer">Contacto</a>
                </div>
            
                <div class="buscador">
                    <form action="#" method="post">
                    <input type="text" placeholder="Buscar productos">
                    <button>
                        <i class="fas fa-search"></i>
                    </button>
                    </form>
                </div>
            
            </div>

            <!-- imagen logo  -->
            <div class="logo">
                <a href="/"><img src="/img/Logo-Rikolinos.png" alt=""></a>
            </div>



            <div class="container-user-carrito">
                <!--User-->
                <div class="user">
                    <i class="fas fa-user"></i>
                </div>

                

                <!-- carrito-->
                <div class="container-carrito-precio">
                    <div class="container-carrito">
                        <img src="/img/carrito-de-compras.png" alt="">
                    </div>
                    <div class="container-precio">
                        <p>$1000000<p>
                    </div>
                </div>
            </div>

            

        </div>
    </header>

    <!-- Fin del Header -->

    <!-- Inicio del Main -->
    
    <main>

        <div class="container-h2">
            <h2>Detalles del producto</h2>
        </div>

        <section class="container-productDetail">
            <div class="container-img">
                <img src="/img/empanada-jamon-y-queso.jpg" alt="Empanada de jamon y queso">
            </div>

            <div class="container-description">
                <h2>Empanadas de Jamón y Queso</h2>
                    <div class="description">
                        <p>
                            Empanadas de jamón con extra queso
                        </p>
                    </div>
                <div class="container-precio">
                    <p>Precio</p>
                    <p>$199,00</p>
                </div>

                <div class="container-sumador_addCart">
                    
                    
                    <div class="container-sumador">
                        <button>-</button>
                        <p>1</p>
                        <button>+</button>
                    </div>    

                    <div class="container-addCart">
                        
                        <button>
                            Añadir a carrito
                        </button> 
                        
                    </div>
                </div>
            </div>

        </section>

        <div class="container-h2">
            <h2>Proba otras opciones</h2>
        </div>

        <section class="conteiner-especialidades">    

                <div class="productos">
                        <h3>Pizza</h3>
                        <img src="/img/pizza.jpeg" alt="">  
                        <div class="PrecioProduc">
                        <p>Pizza de toda variedad, para compartir </p> 
                        </div>
                </div>

                <div class="productos">
                        <h3>Parrilla</h3>
                        <img src="/img/parrillada.jpg" alt="">
                        <div class="PrecioProduc">
                        <p>Disfrute una de las mejores parrilas del pais</p>                    
                        </div>
                </div>

                <div class="productos">
                        <h3>Postres</h3>
                        <img src="/img/helado.jpg" alt=""> 
                        <div class="PrecioProduc">
                        <p>Postres unicos exquisitos y originales</p>
                        </div>                    
                </div>

                <div class="productos">
                    <h3>Bebidas</h3>
                    <img src="/img/bebidas.jpg" alt=""> 
                    <div class="PrecioProduc">
                    <p>Bebidas de todo tipo para acompañar tus comidas</p> 
                    </div>                    
                </div>

        </section>

    </main>

    <!-- Fin de Main -->

    <!-- Inicio del Footer -->
    
    <footer id="footer">
        <br>

        <div class="container-footer">

            <div class="logo-footer">
                <img src="/img/Logo-Rikolinos.png" alt="">
            </div>

            <p>
                Los Rikolinos tambien en las redes
            </p>

            <ul>
                <li><a href=""><i class="fab fa-facebook"></i></a></li>
                <li><a href=""><i class="fab fa-instagram"></i></a></li>
                <li><a href=""><i class="fab fa-whatsapp"></i></a></li>
                <li><a href=""><i class="fab fa-twitter"></i></a></li>
            </ul>
            <p>Todos los derecho resevado. Los Rikolinos <i class="far fa-copyright"></i></p>
        </div>
    </footer>

    <!-- Fin del Footer -->

</body>
</html>