<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amiri:ital@0;1&display=swap" rel="stylesheet">

    <title>Los Rikolinos</title>
    
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles481.css">
    <link rel="stylesheet" href="/css/styles769.css">
    <link rel="stylesheet" href="/css/styles1280.css">

    
</head>
<body>

    <!-- Inicio del Header -->

    <header>
        <div class="top-header">
            <!-- imagen logo burger-menu -->
            <div class="container-burger-cart">
                <div class="burger-menu">
                    <a><i class="fas fa-bars"></i></a>
                </div>

                <div class="cuenta-registro">
                    <a href="/login"><i class="far fa-user-circle"></i></a>
                </div>

                <div class="cart">
                    <a href="/shopping-cart"><i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>



            <div class="contenedor-buscador-navbar">

                <div class="titulos-home">
                    <a href="/">Home</a>
                    <a href="/menu">Menu</a>
                    <a href="/productos">Productos</a>
                    <a href="#Nosotros">Nosotros</a>
                    <a href="#footer">Contacto</a>
                </div>
            
                <div class="buscador">
                    <form action="#" method="post">
                    <input type="text" placeholder="Buscar productos">
                    <button>
                        <i class="fas fa-search"></i>
                    </button>
                    
                    </form>
                </div>
            
            </div>

            <!-- imagen logo  -->
            <div class="logo">
                <a href="/"><img src="/img/Logo-Rikolinos.png" alt=""></a>
            </div>



            <div class="container-user-carrito">
                <!--User-->
                <div class="user">
                    <i class="fas fa-user"></i>
                </div>

                

                <!-- carrito-->
                <div class="container-carrito-precio">
                    <div class="container-carrito">
                        <img src="/img/carrito-de-compras.png" alt="">
                    </div>
                    <div class="container-precio">
                        <p>$1000000<p>
                    </div>
                </div>
            </div>

            

        </div>
    </header>

    <!-- Fin del Header -->

    <!-- Inicio del Main -->

    <main>

    
        <div class="slider">
			<ul>
				<li>
                    <img src="/img/carne.jpeg" alt="">
                </li>

                <li>
                    <img src="/img/hamburguesa1.jpg" alt="">
                </li>
                                
                <li>
                    <img src="/img/comida.jpeg" alt="">
                </li>
        
                <li>
                    <img src="/img/bebidas.jpg" alt="">
                </li>

			</ul>
		</div>


<!-- Este hr es para hacer una linea de separacion-->

    <div class="container-title">
        <h2>Especialidades</h2>
    </div>
    <section  
        class="conteiner-especialidades">    


            <div class="productos">
                    <h3>Hamburguesas</h3>
                    <img src="/img/hamburguesa2.jpg" alt="">  
                    <div class="PrecioProduc">
                    <!-- <p>Pizza de toda variedad, para compartir </p>  -->
                    </div>
            </div>

            
            <div class="productos">
                    <h3>Parrilla</h3>
                    <img src="/img/carneasada.jpeg" alt="">
                    <div class="PrecioProduc">
                    <!-- <p>Disfrute una de las mejores parrilas del pais</p>                     -->
                    </div>
            </div>

            <div class="productos">
                    <h3>Postres</h3>
                    <img src="/img/helado.jpg" alt=""> 
                    <div class="PrecioProduc">
                    <!-- <p>Postres unicos exquisitos y originales</p> -->
                    </div>                    
            </div>

            <div class="productos">
                <h3>Bebidas</h3>
                <img src="/img/vino.jpg" alt=""> 
                <div class="PrecioProduc">
                <!-- <p>Bebidas de todo tipo para acompañar tus comidas</p>  -->
                </div>                    
            </div>

            

    </section>

        <div class="ver-mas">
            <a href="/menu">
                <p>Ver mas</p>
            </a> 
        </div>
    
    <div class="container-title">
        <h2 id="Nosotros">Nosotros</h2>
    </div>
    
    <br>
    <br>

    <section class="nosotros">
        

        
        <p>En Los Rikolinos nos preocupamos por ofrecerte una excelente propuesta.

            Productos elaborados con materias primas y productos de la más alta calidad. Contamos con la más moderna tecnología para la elaboración de nuestras variedades de productos. Exquisitos sabores que harán de tus almuerzos y cenas momentos únicos.
            
            Los Rikolinos nos invita a disfrutar de la excelencia de la gastronomia Argentina, en un ambiente que recrea lo mejor de nuestra tradición y brinda la más personalizada atención.
            
            Ofrece a los amantes de la buena cocina una oferta gastronómica donde abundan los cortes y los platos más tradicionales de la cocina criolla.
            
            ...Gracias por siempre elegirnos... .
        </p>
    </section>


    </main>

    <!-- Fin de Main -->

    <!-- Inicio del Footer -->
    
    <footer id="footer">
        <br>

        <div class="container-footer">
            
            <div class="logo-footer">
                <img src="/img/Logo-Rikolinos.png" alt="">
            </div>
            
            <p>
                Los Rikolinos tambien en las redes
            </p>

            <ul>
                <li><a href=""><i class="fab fa-facebook"></i></a></li>
                <li><a href=""><i class="fab fa-instagram"></i></a></li>
                <li><a href=""><i class="fab fa-whatsapp"></i></a></li>
                <li><a href=""><i class="fab fa-twitter"></i></a></li>
            </ul>
            <p>Todos los derecho resevado. Los Rikolinos <i class="far fa-copyright"></i></p>
        </div>
    </footer>

    <!-- Fin del footer -->

</body>
</html>