<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles-shopping-cart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Los Rikolinos - Carrito de compras</title>

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles481.css">
    <link rel="stylesheet" href="/css/styles769.css">

</head>

<body>

    <!-- Inicio del Header -->

    <header>
        <div class="top-header">
            <!-- imagen logo burger-menu -->
            <div class="container-burger-cart">
                <div class="burger-menu">
                    <a><i class="fas fa-bars"></i></a>
                </div>

                <div class="cuenta-registro">
                    <a href="/login"><i class="far fa-user-circle"></i></a>
                </div>

                <div class="cart">
                    <a href="/shopping-cart"><i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>



            <div class="contenedor-buscador-navbar">

                <div class="titulos-home">
                    <a href="/">Home</a>
                    <a href="/menu">Menu</a>
                    <a href="/productos">Productos</a>
                    <a href="#Nosotros">Nosotros</a>
                    <a href="#footer">Contacto</a>
                </div>

                <div class="buscador">
                    <form action="#" method="post">
                        <input type="text" placeholder="Buscar productos">
                        <button>
                            <i class="fas fa-search"></i>
                        </button>

                    </form>
                </div>

            </div>

            <!-- imagen logo  -->
            <div class="logo">
                <a href="/"><img src="/img/Logo-Rikolinos.png" alt=""></a>
            </div>



            <div class="container-user-carrito">
                <!--User-->
                <div class="user">
                    <i class="fas fa-user"></i>
                </div>



                <!-- carrito-->
                <div class="container-carrito-precio">
                    <div class="container-carrito">
                        <img src="/img/carrito-de-compras.png" alt="">
                    </div>
                    <div class="container-precio">
                        <p>$1000000<p>
                    </div>
                </div>
            </div>



        </div>
    </header>

    <!-- Fin del Header -->

    <!-- Inicio del Main -->

    <main>
        <div class="h2-carrito">
            <h2> Carrito</h2>
        </div>

        <!-- Articulos de comida -->
        <section>
            <article class="container-articleCart">
                <div class="container-img">
                    <img src="/img/hamburguesa1.jpg" alt="">
                    <p>Nombre del articulo</p>
                </div>

                <div class="descriptiones-truck">
                    <div>
                        <p>Cantidad</p>
                        <input type="number" value="1" min="1" max="25">
                    </div>
                    <div>
                        <p>Precio</p>
                        <p class="price">$1000</p>
                    </div>  
                </div>
                <div class="container-equis">
                    <i class="fas fa-times"></i>
                </div>
            </article>
        </section>
        <!-- Articulos de comida -->

        <!-- Articulos de comida -->
        <section>
            <article class="container-articleCart">
                <div class="container-img">
                    <img src="/img/hamburguesa1.jpg" alt="">
                    <p>Nombre del articulo</p>
                </div>

                <div class="descriptiones-truck">
                    <div>
                        <p>Cantidad</p>
                        <input type="number" value="1" min="1" max="25">
                    </div>
                    <div>
                        <p>Precio</p>
                        <p class="price">$1000</p>
                    </div>
                </div>
                <div class="container-equis">
                    <i class="fas fa-times"></i>
                </div>
            </article>
        </section>
        <!-- Articulos de comida -->
        <!-- Articulos de comida -->
        <section>
            <article class="container-articleCart">
                <div class="container-img">
                    <img src="/img/hamburguesa1.jpg" alt="">
                    <p>Nombre del articulo</p>
                </div>

                <div class="descriptiones-truck">
                    <div>
                        <p>Cantidad</p>
                        <input type="number" value="1" min="1" max="25">
                    </div>
                    <div>
                        <p>Precio</p>
                        <p class="price">$1000</p>
                    </div>
                </div>
                <div class="container-equis">
                    <i class="fas fa-times"></i>
                </div>
            </article>
        </section>
        <!-- Articulos de comida -->
        
        <div class="container-precioTotal">
            <p>Precio Total $000,00</p>
        </div>
    </main>

    <!-- Fin del Main -->

    <!-- Inicio del Footer -->

    <footer id="footer">
            <br>

            <div class="container-footer">

                <div class="logo-footer">
                    <img src="/img/Logo-Rikolinos.png" alt="">
                </div>

                <p>
                    Los Rikolinos tambien en las redes
                </p>

                <ul>
                    <li><a href=""><i class="fab fa-facebook"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-whatsapp"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                </ul>
                <p>Todos los derecho resevado. Los Rikolinos <i class="far fa-copyright"></i></p>
            </div>
    </footer>

    <!-- Inicio del Footer -->
        
</body>

</html>